.nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 67px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--light-mode-elements);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
  color: var(--light-mode-text);
}

.colorModeToggle {
}
