$card-width: 300px;

.card {
  width: $card-width;
  height: 300px;

  display: flex;
  flex-direction: column;

  background-color: var(--light-mode-elements);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image {
  height: 150px;
  width: auto;
  object-fit: cover;
}

.info {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
}
